:root{
    --header-height: 3rem;
  
    /* Color mode HSL(hue,saturation,lightness) */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue),var(--sat),46%);
    --body-color: hsl(var(--hue),var(--sat),98%);
    --container-color: #fff;
  
    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
  
    /* .5rem = 8px | 1rem = 16px ... */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /* Font Weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* Margenes Bottom */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }

.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: var(--container-color);
}

.scrollup:hover{
    background-color: var(--title-color-dark);
}

/* show scroll */
.show-scroll{
    bottom: 3rem;
}

/* BREAKPOINTS */
/* FOR LARGE DEVICES */
@media screen and (max-width: 992px){
    .scrollup{
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }
    
    .scrollup__icon{
        font-size: 1.25rem;
    }
  }
  
  /* FOR MEDIUM DEVICES */
  @media screen and (max-width: 768px){
    .show-scroll{
        bottom: 4rem;
    }
    
  }

  @media screen and (max-width: 350px){
    .scrollup{
        right: 1rem;
    }
  }
  